<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<form>
    <fieldset>
        <legend>User Info</legend>
    
        <p>ID:</p>
        <h3 th:text="${user.getId()}"></h3>
        <p>First Name:</p>
        <h3 th:text="${user.getFirstName()}"></h3>
        <p>Last Name:</p>
        <h3 th:text="${user.getLastName()}"></h3>
        <p>Age:</p>
        <h3 th:text="${user.getAge()}"></h3>
        <p>Email:</p>
        <h3 th:text="${user.getEmail()}"></h3>
        <p>Role:</p>
        <h3>
            <span th:each="role : ${user.getRoles()}">
                <span th:text="${role}"></span>
            </span>
        </h3>
        
    </fieldset>
</form>

<div class="links">
    <a th:href="@{/logout}">logout</a>
</div>

</body>
</html>